<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>All playList..</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="plist:${allplaylist}">
				<td th:text="${plist.name}"></td>
				
				<td>
				<li th:each="song:${plist.songs}">
				<span th:text="${song.name}"></span>
				<audio controls>
					<source th:src="${song.link}" type="audio/mpeg">
				</audio>
				</li>

<!-- 					<ul> -->
<!-- 						<li th:each="song : ${plist.songs}"> -->
<!-- 						    <span th:text="${song.name}"></span>  -->
<!-- 						    <audio controls> -->
<!-- 								<source th:src="${song.link}" type="audio/mpeg"> -->
<!-- 							</audio> -->
<!-- 						</li> -->
<!-- 					</ul> -->
				</td>

			</tr>
		</tbody>
	</table>

</body>
</html>