<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>LoginPage</h1>
<form action="validate" method="post">

<label>Email:</label>
<input type="email" name="email"/><br>
<label>Password:</label>
<input type="password" name="password"/><br>

<input  type="submit"/>
</form>

</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
 <body>
        <div class="container">
           <form action="validate" method="post">
            <h2><u>Login</u></h2>
            <label for="name">Email</label>
            <input type="text" name="email">
            <label for="password">Password</label>
            <input type="text" name="password"><br>
            <button name="btn">Login</button>
            <div class="links">
                <a href="" id="id1">NewUser?</a>
                <a href="" id="id2">ForgetPassword</a>
            </div>
           </form>
        </div>
        <div class="help">
            <div class="img"><img src="C:\Users\hrush\OneDrive\Desktop\FrontEnd\images\download1.png" alt="load.." height="20" width="30px"></div>
            <div class="text">help</div>
        </div>
    </body>
</html>